.modalContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 5px;
}

.imageWrapper {
  position: relative;
  width: 100%;
  height: 250px;
  margin-bottom: 5px;
}

.title {
  text-align: center;
  font-weight: 700;
  font-size: 18px;
}